.title {
    text-align: center;
    font-size: 32px;
}

.article_info {
    text-align: center;
    color: #999;
    font-size: 14px;
    margin-top: 15px;
}

#article_content {
    border-top: 1px solid #ddd;
    width: 100%;
    padding-top: 35px;
    overflow: hidden;
    color: #999;
    font-size: 14px;
    margin-top: 30px;
}

#img_container {
    text-align: center;
    margin-bottom: 20px;
}

#article_content p {
    font-family: 仿宋;
    font-size: 20px;
}

#page_control {
    width: 100%;
    margin-top: 20px;

}

#page_control a {
    display: inline-block;
    width: 48%;
    height: 100px;
    line-height: 100px;
    background: #eee;
    font-size: 18px;
    transition: 0.3s;
}

#prev {
    float: left;
    text-align: left;
    padding-left: 20px;
}

#next {
    float: right;
    text-align: right;
    padding-right: 20px;
}

#page_control i {
    position: relative;
    top: 10px;
}

#page_control a:hover {
    background: rgba(218,191,83,0.8);
    color: #fff;
}