#main_content {
    width: 1200px;
    margin: 0 auto;
    /*background: red;*/
    /*height: 3000px;*/
    margin-bottom: 50px;
}

/*上方第一模块 包括展示banner和搜索表单*/

.part1 {
    /*background: #006ab8;*/
    margin: 50px 0;

}
/*banner*/
.part1 .second_banner{
    background: #fcf2cf;
    height: 303px;
    width: 840px;
    overflow: hidden;
    position: relative;
}

.second_banner .banner_wrap {
    width: 200%;
    height: 303px;
    background: #f9f7f0;
    position: absolute;
}

.second_banner .banner_wrap ul {
    height: 303px;
    width: 100%;
}



.banner_wrap li {
    position: relative;
    width: 840px;
    height: 303px;
    display: inline-block;
    background: #f9f7f0;
}

.part1 .second_banner .img_wrap {
    width: 305px;
    height: 170px;
    overflow: hidden;
    position: absolute;
    left: 40px;
    top: 40px;
}

.img_wrap img {
    width: 305px;
    height: 170px;
    transition: 0.5s;
}

.img_wrap img:hover {
    transform: scale(1.1);
}

.second_banner .banner_text {
    position: absolute;
    /*background: aqua;*/
    width: 415px;
    left: 385px;
    top: 40px;
}

.second_banner .banner_news {
    cursor: pointer;
}

.second_banner h3 {
    position: absolute;
    font-size: 26px;
    color: #000;
    margin-bottom: 30px;
    line-height: 1.6;
    transition: 0.3s;
    top: 40px;
    left: 380px;
}

.second_banner .suolue {
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    color: #797979;
    margin-bottom: 20px;
    /*overflow: hidden;*/
    /*white-space:nowrap;*/
    /*text-overflow:ellipsis;*/
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 30px;
    top: 100px;
    left: 380px;
}

.second_banner .article_info {
    position: absolute;
    padding: 10px 0;
    /*background: pink;*/
    top: 160px;
    left: 380px;
}

.second_banner .article_info p {
    display: inline-block;
    font-size: 14px;
    color: #a6a6a6;
    margin-right: 20px;
}

.second_banner .article_info a {
    cursor: pointer;
    font-size: 12px;
    color: #a6a6a6;

}

.second_banner .article_info i {
    color: #a6a6a6;
}

.second_banner .prev, .second_banner .next{
    width: 36px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background: #d5a93d;
    position: absolute;
    color: #eeeeee;
    bottom: 0;
}

.second_banner .prev {
    right: 40px;

}


.second_banner .next {
    right: 0;
}


.second_banner .prev:hover, .second_banner .next:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}


/*搜索表单*/

.part1 .second_search {

    width: 216px;
    height: 235px;
    padding: 20px 35px;
    border: 14px solid #f3ede3;
    z-index: 2;

}

.part1 .second_search h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}

/*******************************************模拟下拉菜单********************************/
.sel-show {
    width: 216px;
    height: 38px;
    font: 14px/40px 'microsoft yahei';
    color: #7D7D7D;
    padding-left: 10px;
    border: 2px solid #eeeeee;
    /*background: #fff url('http://opif0c56u.bkt.clouddn.com/select.gif') no-repeat scroll right 8px center;*/
    box-sizing: border-box;
    cursor: default;
    margin-top: 20px;
    z-index: 10;
}
.sel-show i {
    line-height: 36px;
    width: 36px;
    text-align: center;
    background: #f3f3f3;
}
.sel-wrap {
    position: relative;
    width: 216px;
}
.sel-option {
    display: none;
    position: absolute;
    width: 216px;
    height:152px;
    overflow-x:hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    border: 2px solid #eeeeee;
    border-top: none;
    background-color: #fff;
    z-index: 3;
}
.sel-option li {
    width: 240px;
    height: 40px;
    padding-left: 15px;
    font: 13px/40px 'microsoft yahei';
    list-style: none;
    box-sizing: border-box;
    cursor: default;
}
.sel-option li:hover {
    color: #f9f7f0;
    font-weight: bold;
    background-color: #d5a93d;
    font-size: 14px;
}
/*.sel-option li:hover:before {*/
/*content: '\2714' ' ';*/
/*}*/

.part1 input {
    width: 212px;
    height: 32px;
    border: 1px solid #eeeeee;
    font-size: 14px;
    text-indent: 1em;
    margin-top: 20px;

}

.part1 .second_search #search_btn {
    cursor: pointer;
    height: 45px;
    background: #d6aa2f;
    border: none;
    color: #f3ede2;
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
}

.part1 a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}



/*新闻列表*/
#main_content .news_list {
    /*width: 100%;*/
    /*height: 400px;*/
    /*background: #d94b01;*/
}

#main_content .news_list li {
    width: 100%;
    position: relative;
    /*background: #fcf2cf;*/
    height: 244px;
    border-bottom: 1px solid #eeeeee;
    transition: 0.3s;
}

#main_content .news_list li:hover {

    background: #f9f7f0;

}

.news_list .list_wrap{
    /*background: pink;*/
    height: 168px;
    padding: 36px 40px 40px 40px;
}


.news_list .time {
    width: 100px;
    height: 80px;
    /*background: #eeeeee;*/
    /*position: absolute;*/
    /*top: 30px;*/
    /*left: 30px;*/
    text-align: center;
    border-right: 1px solid #e6e6e6;
    /*background: #d5a93d;*/
}

.news_list .time .day {
    display: block;
    font-size: 50px;
    color: #bb9205;
    line-height: 50px;
}

.news_list .time .month_and_year {
    font-size: 14px;
    color: #8d8b8b;
}

.news_list .news_pic_wrap {
    width: 224px;
    height: 168px;
    overflow: hidden;
}

.news_list .news_pic_wrap img {
    width: 224px;
    height: 168px;
    transition: 0.5s;
}

.news_list .news_pic_wrap img:hover {
    transform: scale(1.1);
}

.news_list .list_text {
    left: 60px;
}

.news_list .list_text h3 a {
    font-size: 20px;
    transition: 0.3s;
}

.news_list .list_text span {
    margin-right: 20px;
    font-size: 12px;
    color: #c9c9c9;
}

.news_list .list_text .info_bar {
    padding: 10px 0;
}

.news_list .list_text a.share {
    font-size: 12px;
    color: #c9c9c9;
}

.news_list .list_text a.share:hover {
    color: #ba9121;
}

.news_list .list_text p a{
    font-size: 14px;
    color: #464646;
    line-height: 26px;
    height: 52px;
    overflow: hidden;
    display: block;
    width: 740px;
    transition: 0.3s;
}



#to_top {
    background: #deba28;
    position: fixed;
    width: 50px;
    height: 50px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    right: 0;
    bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px){

    .part1 .second_banner{
        width: 100%;
        height: 440px;
    }

    .part1 .second_banner .banner_wrap {
        height: 440px;
    }

    .second_banner .banner_wrap ul{
        height: 440px;
    }


    .part1 .second_banner li {
        width: 50%;
        height: 440px;

    }
    .part1 .second_banner .img_wrap{
        width: 90%;
        height: auto;
        max-height: 232px;
        top:20px;
        left: 20px;
    }

    .part1 .second_banner .img_wrap img{
        width: 100%;
        height: auto;
    }


    .part1 .second_banner .img_wrap ul li {
        height: 100%;
    }


    .second_banner h3{
        top: 260px;
        left: 40px;
    }

    .second_banner .suolue {
        top:340px;
        left: 40px;
    }

    .second_banner .article_info {
        display: none;
    }

    .part1 .second_search {
        width: 75%;
        margin-top: 20px;
        left: 0;
    }


    #main_content .news_list{
        padding-top: 20px;
    }

    #main_content .news_list li{
        height: 420px;
        padding-top: 10px;
        padding-bottom: 20px;
        width: 100%;
    }



    .news_list .list_wrap {
        width: 100%;
        height: 420px;
        padding: 0;
    }

    .news_list .news_pic_wrap{
        width: 90%;
        height: auto;
        position: absolute;
        left: 0;
        top:20px;
        margin-left: 25px;


    }

    .news_list .news_pic_wrap img{
        width: 100%;
        height: auto;
    }

    .news_list .time{
        position: absolute;
        bottom: 40px;
        left: 10px;
        width: 20%;
    }

    .news_list .list_text {
        position: absolute;
        bottom: 40px;

    }

    .news_list .list_text .info_bar{
        display: none;
    }


    .news_list .list_text p a{
        width: 75%;
        padding-left: 15%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .news_list .list_text h3 {
        padding-left: 15%;

    }

    .sel-wrap {
        width: 280px;
    }

    .sel-show {
        width: 280px;
    }

    .sel-option {
        width:280px;
    }

    .part1 input {
        width: 280px;
    }

    .part1 .second_search #search_btn {
        width: 40%;
        margin: 10px auto;
    }


}