#main_content {
    width: 1200px;
    margin: 0 auto;
    /*background: red;*/
    /*height: 3000px;*/
    margin-bottom: 50px;
}

/*!***********************页面顶部展示模块*********************************!*/
/*.front {*/
    /*background: olivedrab;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*height: 335px;*/
    /*margin-top: 80px;*/
/*}*/

/*.front img {*/
    /*width: 100%;*/
    /*height: 335px;*/
/*}*/

/*.front .wrap {*/
    /*width: 100%;*/
    /*height: 70px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
/*}*/

/*.front .guide_bar {*/
    /*width: 1200px;*/
    /*height: 70px;*/
    /*margin: 0 auto;*/
    /*background: #f9f7f0;*/
    /*opacity: 0.95;*/
    /*filter: alpha(opacity=95);*/
    /*position: relative;*/

/*}*/

/*.front .guide_list {*/
    /*width: 840px;*/
/*}*/

/*.front .guide_list li {*/
    /*width: 60px;*/
    /*height: 70px;*/
    /*line-height: 50px;*/
    /*margin-left: 30px;*/
/*}*/

/*.front .guide_list li a {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*line-height: 70px;*/
    /*font-size: 14px;*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*color: rgb(100,100,100);*/
    /*font-weight: bold;*/
/*}*/

/*.front .guide_list li a:after {*/
    /*content: "";*/
    /*width: 0;*/
    /*height: 2px;*/
    /*display: block;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*background: #bb9205;*/
    /*left: 0;*/
    /*transition: all .3s ease;*/
/*}*/



/*.front .guide_list li a.active {*/
    /*font-weight: bold;*/
    /*color: #ba9121;*/
/*}*/

/*.front .guide_list li a:hover {*/
    /*font-weight: bold;*/
    /*color: #ba9121;*/
/*}*/

/*!*********************路径导航************************!*/

/*.guide_bar .path {*/

    /*margin-right: 30px;*/
/*}*/

/*.guide_bar .path span {*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*!*background: pink;*!*/
    /*padding: 0 5px;*/
    /*margin-top: 16px;*/
    /*color: #797979;*/
/*}*/


/*.guide_bar .path span a {*/

    /*font-size: 14px;*/
    /*cursor: pointer;*/
/*}*/

/*.guide_bar .path span a:hover {*/
    /*color: #ba9121;*/
/*}*/

/****************************************************/

/*上方第一模块 包括展示banner和搜索表单*/

.part1 {
    /*background: #006ab8;*/
    margin: 50px 0;

}
/*banner*/
.part1 .second_banner{
    background: #fcf2cf;
    height: 303px;
    width: 840px;
    overflow: hidden;
    position: relative;
}

.second_banner .banner_wrap {
    width: 200%;
    height: 303px;
    background: #f9f7f0;
    position: absolute;
}

.second_banner .banner_wrap ul {
    height: 303px;
    width: 100%;
}



.banner_wrap li {
    position: relative;
    width: 840px;
    height: 303px;
    display: inline-block;
    background: #f9f7f0;
}

.part1 .second_banner .img_wrap {
    width: 305px;
    height: 170px;
    overflow: hidden;
    position: absolute;
    left: 40px;
    top: 40px;
}

.img_wrap img {
    width: 305px;
    height: 170px;
    transition: 0.5s;
}

.img_wrap img:hover {
    transform: scale(1.1);
}

.second_banner .banner_text {
    position: absolute;
    /*background: aqua;*/
    width: 415px;
    left: 385px;
    top: 40px;
}

.second_banner .banner_news {
    cursor: pointer;
}

.second_banner .banner_text h3 {
    font-size: 26px;
    color: #000;
    margin-bottom: 30px;
    line-height: 1.6;
    transition: 0.3s;
}

.second_banner .suolue {
    font-size: 14px;
    line-height: 24px;
    color: #797979;
    margin-bottom: 20px;
    /*overflow: hidden;*/
    /*white-space:nowrap;*/
    /*text-overflow:ellipsis;*/
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.second_banner .article_info {
    padding: 10px 0;
    /*background: pink;*/
}

.second_banner .article_info p {
    display: inline-block;
    font-size: 14px;
    color: #a6a6a6;
    margin-right: 20px;
}

.second_banner .article_info a {
    cursor: pointer;
    font-size: 12px;
    color: #a6a6a6;

}

.second_banner .article_info i {
    color: #a6a6a6;
}

.second_banner .prev, .second_banner .next{
    width: 36px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background: #d5a93d;
    position: absolute;
    color: #eeeeee;
    bottom: 0;
}

.second_banner .prev {
    right: 40px;

}


.second_banner .next {
    right: 0;
}


.second_banner .prev:hover, .second_banner .next:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}


/*搜索表单*/

.part1 .second_search {

    width: 216px;
    height: 235px;
    padding: 20px 35px;
    border: 14px solid #f3ede3;
    z-index: 2;

}

.part1 .second_search h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}

/*******************************************模拟下拉菜单********************************/
.sel-show {
    width: 216px;
    height: 38px;
    font: 14px/40px 'microsoft yahei';
    color: #7D7D7D;
    padding-left: 10px;
    border: 2px solid #eeeeee;
    /*background: #fff url('http://opif0c56u.bkt.clouddn.com/select.gif') no-repeat scroll right 8px center;*/
    box-sizing: border-box;
    cursor: default;
    margin-top: 20px;
    z-index: 10;
}
.sel-show i {
    line-height: 36px;
    width: 36px;
    text-align: center;
    background: #f3f3f3;
}
.sel-wrap {
    position: relative;
    width: 216px;
}
.sel-option {
    display: none;
    position: absolute;
    width: 216px;
    height:152px;
    overflow-x:hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    border: 2px solid #eeeeee;
    border-top: none;
    background-color: #fff;
    z-index: 3;
}
.sel-option li {
    width: 240px;
    height: 40px;
    padding-left: 15px;
    font: 13px/40px 'microsoft yahei';
    list-style: none;
    box-sizing: border-box;
    cursor: default;
}
.sel-option li:hover {
    color: #f9f7f0;
    font-weight: bold;
    background-color: #d5a93d;
    font-size: 14px;
}
/*.sel-option li:hover:before {*/
/*content: '\2714' ' ';*/
/*}*/

.part1 input {
    width: 212px;
    height: 32px;
    border: 1px solid #eeeeee;
    font-size: 14px;
    text-indent: 1em;
    margin-top: 20px;

}

.part1 .second_search #search_btn {
    cursor: pointer;
    height: 45px;
    background: #d6aa2f;
    border: none;
    color: #f3ede2;
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
}

.part1 a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}



/*新闻列表*/
#main_content .news_list {
    /*width: 100%;*/
    /*height: 400px;*/
    /*background: #d94b01;*/
}

#main_content .news_list li {
    width: 100%;
    position: relative;
    /*background: #fcf2cf;*/
    height: 244px;
    border-bottom: 1px solid #eeeeee;
    transition: 0.3s;
}

#main_content .news_list li:hover {

    background: #f9f7f0;

}

.news_list .list_wrap{
    /*background: pink;*/
    height: 168px;
    padding: 36px 40px 40px 40px;
}


.news_list .time {
    width: 100px;
    height: 80px;
    /*background: #eeeeee;*/
    /*position: absolute;*/
    /*top: 30px;*/
    /*left: 30px;*/
    text-align: center;
    border-right: 1px solid #e6e6e6;
    /*background: #d5a93d;*/
}

.news_list .time .day {
    display: block;
    font-size: 50px;
    color: #bb9205;
    line-height: 50px;
}

.news_list .time .month_and_year {
    font-size: 14px;
    color: #8d8b8b;
}

.news_list .news_pic_wrap {
    width: 224px;
    height: 168px;
    overflow: hidden;
}

.news_list .news_pic_wrap img {
    width: 224px;
    height: 168px;
    transition: 0.5s;
}

.news_list .news_pic_wrap img:hover {
    transform: scale(1.1);
}

.news_list .list_text {
    padding-left: 44px;
}

.news_list .list_text h3 a {
    font-size: 20px;
    transition: 0.3s;
}

.news_list .list_text span {
    margin-right: 20px;
    font-size: 12px;
    color: #c9c9c9;
}

.news_list .list_text .info_bar {
    padding: 10px 0;
}

.news_list .list_text a.share {
    font-size: 12px;
    color: #c9c9c9;
}

.news_list .list_text a.share:hover {
    color: #ba9121;
}

.news_list .list_text p a{
    font-size: 14px;
    color: #464646;
    line-height: 26px;
    height: 52px;
    overflow: hidden;
    display: block;
    width: 740px;
    transition: 0.3s;
}
/*页面控制条*/

#main_content .page_bar {
    font-size: 13px;
    color: #000;
    text-align: center;
    margin-top: 56px;
}

#main_content .page_bar a {
    color: #000;
    display: inline-block;
    border: 1px solid #ededed;
    padding: 8px 17px;
    vertical-align: middle;
    margin: 0 0 10px -1px;
    background: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    transition: 0.3s;
}

#main_content .page_bar a:hover {
    background: #bb9205;
    color: #f9f7f0;
}
#main_content .page_bar p {
    display: inline-block;
    margin: 0 20px;
}
#main_content .page_bar input {
    padding: 0;
    width: 45px;
    height: 45px;
    border-style: none;
    border: 1px solid #7D7D7D;
    font-size: 18px;
    text-align: center;
    vertical-align: unset;
    border-color: #ededed;
}

/*******************************************footer****************************************/
.footer {
    height: 176px;
    padding: 50px 0;
    background: url('../img/footer_bj.jpg') no-repeat;
    background-size: 100% 100%;
}

.footer .wrap {
    margin: 0 auto;
    width: 1200px;
}

.footer ul {
    width: 600px;
}

.footer ul li {
    margin-right: 6%;
    padding-top: 12px;
    color: #ffffff;
}

.footer ul li a{
    font-size: 14px;
    color: #ffffff;
}

.footer ul li a:hover {
    color: #d5a93d;
}

.footer .footer_top {
    height: 96px;
    border-bottom: 1px solid #747474;
    margin-bottom: 20px;
}

.footer .footer_top .top_right {
    width: 17%;
}

.footer .footer_top .station_button {
    background: #d5a93d;
    line-height: 35px;
}

.footer_top .station_button span:first-child {
    width: 70%;
    background-color: #deba28;
    color: #fff;
    padding-left: 10%;
    display: block;
}

.footer_top .station_button div span:last-child {
    width: 20%;
    height: 35px;
    display: block;
   text-align: center;
    color: #f9f7f0;
}


.footer_top .friend_link {
    display: none;
    width: 204px;
    height: 140px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /*background: pink;*/
    position: absolute;
    overflow-y: scroll;
    z-index: 2;
    background: #ffffff;
}

.footer_top .friend_link ul {
    width: 100%;
}

.footer_top .friend_link li {
    text-indent: 10%;
}

.footer_top .friend_link li a {
    color: #111111;

}

.footer_top .friend_link li a:hover {
    color: #d5a93d;
}

.footer_bottom p {
    color: white;
    font-size: 14px;
    line-height: 30px;
}

.footer_bottom span {
    font-weight: bold;
}

.footer_bottom a:hover{
    color: #d5a93d;
}

#to_top {
    background: #deba28;
    position: fixed;
    width: 50px;
    height: 50px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    right: 0;
    bottom: 0;
}