
.sel {
    margin-top: 50px;
}

.sel li {
    font-size: 24px;
    padding: 0 30px;
    position: relative;
}
.sel li.cur {
    color: #bb9205;
}

.first_li:after {

    content: '';
    position: absolute;
    left: auto;
    top: auto;
    bottom: 5px;
    right: 0;
    height: 70%;
    width: 2px;
    background-color: #bb9205;
}
.img_list {
    margin-top: 50px;
}

.img_list li {
    float: left;
    width: 267px;
    height: 205px;
    overflow: hidden;
    margin: 16px;
    /*margin-bottom: 25px;*/
}

.img_list li ._img {
    position: relative;
    overflow: hidden;
}

.img_list li img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
    border: 0;
    transition: 0.3s;
}

.img_list li i {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.img_list li b {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -39px;
    margin-top: -39px;
    width: 78px;
    height: 78px;
    background: url(../img/pic_ico.png);
}

.img_list li ._title {
    padding: 15px;
    background-color: #f0f0f0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
}

/*遮罩轮播*/

#mask {
    /*display: none;*/
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

#mask .lanrenzhijia {
margin-top: 200px;
}

#mask .back {
    position: fixed;
    top: 20px;
    right: 25px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}
