
.sel {
    margin-top: 50px;
}

.sel li {
    font-size: 24px;
    padding: 0 30px;
    position: relative;
}
.sel li.cur {
    color: #bb9205;
}

.first_li:after {

    content: '';
    position: absolute;
    left: auto;
    top: auto;
    bottom: 5px;
    right: 0;
    height: 70%;
    width: 2px;
    background-color: #bb9205;
}
.img_list {
    margin-top: 50px;
}

.img_list li {
    float: left;
    width: 267px;
    height: 205px;
    overflow: hidden;
    margin: 16px;
    /*margin-bottom: 25px;*/
}

.img_list li ._img {
    position: relative;
    overflow: hidden;
}

.img_list li img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
    border: 0;
    transition: 0.3s;
}

.img_list li i {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.img_list li b {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -39px;
    margin-top: -39px;
    width: 78px;
    height: 78px;
    background: url(../img/pic_ico.png);
}

.img_list li ._title {
    padding: 15px;
    background-color: #f0f0f0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
}

/*遮罩轮播*/

#mask1 {
    /*display: none;*/
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

#mask1 .lanrenzhijia {
margin-top: 200px;
}

#mask1 .back {
    position: fixed;
    top: 20px;
    right: 25px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}


/*手机遮罩*/

#mask2 {

}

#mask2 .second_banner{
    /*background: #fcf2cf;*/
    height: 303px;
    width: 840px;
    overflow: hidden;
    position: relative;
}

.second_banner .banner_wrap {
    width: 200%;
    height: 303px;
    /*background: #f9f7f0;*/
    position: absolute;
}

.second_banner .banner_wrap ul {
    height: 303px;
    width: 100%;
}



.banner_wrap li {
    position: relative;
    width: 50%;
    height: 303px;
    display: inline-block;
    /*background: #f9f7f0;*/
}

#mask2 .second_banner .img_wrap {
    /*width: 305px;*/
    /*height: 170px;*/
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
}

.img_wrap img {
    /*width: 305px;*/
    /*height: 170px;*/
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.img_wrap img:hover {
    transform: scale(1.1);
}

.second_banner .banner_text {
    position: absolute;
    /*background: aqua;*/
    width: 415px;
    left: 385px;
    top: 40px;
}

.second_banner .banner_news {
    cursor: pointer;
}

.second_banner h3 {
    position: absolute;
    font-size: 26px;
    color: #000;
    margin-bottom: 30px;
    line-height: 1.6;
    transition: 0.3s;
    top: 40px;
    left: 380px;
}



.second_banner .article_info {
    position: absolute;
    padding: 10px 0;
    top: 160px;
    left: 380px;
}






#mask2 .prev, #mask2 .next{
    width: 36px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background: #d5a93d;
    position: absolute;
    color: #eeeeee;
    bottom: 0;
}

.second_banner .prev {
    right: 40px;

}


.second_banner .next {
    right: 0;
}


.second_banner .prev:hover, .second_banner .next:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.ovfHidden{
    overflow: hidden;
    height: 100%;
}
#mask1 ,#mask2{
    visibility: hidden;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    /*遮罩*/
    #mask2{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top:0;
        left: 0;
        background: rgba(0,0,0,0.8);
    }
    #mask2 .second_banner{
        width: 100%;
    }
    #mobile_mask_info {
        position: absolute;
        width: 100%;
        height: 36px;
        bottom: 0;
        left: 0;
        padding: 15px;
    }
    #mobile_mask_info .wrapfix{
        width: 100%;
        height: 36px;
        position: relative;
    }
    #mobile_mask_info .prev {
        left: 0;
        background: inherit;
    }
    #mobile_mask_info .next {
        left:140px;
        background: inherit;
    }
    #mobile_mask_info i {
        position: absolute;
        right: 40px;
        color: #fff;
    }
    #mobile_mask_info .num {
        position: absolute;
        width: 100px;
        height: 36px;
        left: 40px;
        color: #fff;
        line-height: 36px;
        font-size: 20px;
    }
    #mobile_mask_info .num span{
        display: inline-block;
        width: 40px;
        text-align: center;
    }

    .second_banner h3{
       display: none;
    }

    #mobile_mask_title {
        /*background: yellow;*/
        width: 80%;
        height: 40px;
        position: absolute;
        bottom: 15%;
        left: 40px;
        font-size: 20px;
        line-height: 40px;
        color: #fff;
    }

    /*内容*/
    .img_list li {
        width: 90%;
    }

    .img_list li ._title {
        display: none;
    }


}
